.recharge-card {
    width: 240px;
    height: 254px;
    padding: 0 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    background: #fff;
    border-radius: 20px;
    position: absolute;
    top: 25%;
    left: 17%;
  }
  
  .recharge-card > * {
    margin: 0;
  }
  
  .recharge-card-title {
    font-size: 23px;
    font-weight: 900;
    color: #333;
  }
  
  .recharge-card-content {
    font-size: 13px;
    line-height: 18px;
    color: #333;
  }
  
  .recharge-card-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .recharge-card-form input {
    margin-top: 10px;
    outline: 0;
    background: rgb(255, 255, 255);
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    border: 1px solid #333;
    color: black;
  }
  
  .recharge-card-form button {
    border: 0;
    background: #111;
    color: #fff;
    padding: 0.68em;
    border-radius: 14px;
    font-weight: bold;
  }
  
  .recharge-card-sign-up:hover {
    opacity: 0.8;
  } 
  .homepic{
    height: 12vh;
    width: 26vw;
    position: fixed;
      background-repeat: no-repeat;
      background-size: 230px;
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRm1tEB2M0wn8X19-Lg2LpDltAjgBzp1drOg&usqp=CAU");
  }
  .home-image{
    background-image: url("https://jep-asset.akamaized.net/cms/assets/airfiber/JioAirFiber-Homepage-Desktop1.webp");
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 64%;
    top: 12%;
  }
  body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-family: 'Lato', sans-serif;
      font-weight: bolder;
  }
  .topnav{
      background: rgb(1 0 76);
      height: 117px;
      background-size: 100px;
      margin-left: 226px;
      position: fixed;
      width: 89%;
  }
  
  .topnav label.logo{
      color: white;
      font-size: 70px;
      line-height: 80px;
      font-weight:100;
      margin-left: 23px;
  }
  
  .topnav ul{
      float: right;
      margin-right: 30px;
      
  }
  .topnav ul li{
      display: inline-block;
      line-height: 90px;
      margin: 0 10px;
  }
  .topnav ul li a{
      color:white;
      font-size: 17px;
      text-transform: uppercase;
      text-decoration: solid;
      
  }
  .active{
    position: fixed;
    top: 1%;
    left: 49%;
  }
  
  .topnav a.active,a:hover{
      background:rgba(255, 141, 141, 0);
      transition: .5s;
  }

  .recharge-card {
    width: 25%;
    height: 43%;
    position: absolute;
    right: 37%;
    bottom: 137%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
   
   .recharge-shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1)
    , 0 0 0 2px rgb(241 241 241),
     0.3em 0.3em 1em rgba(0,0,0,0.3)
   }
   
   
   .recharge-group {
    position: absolute;
    bottom: 43%;
    right: 24%;
   }
   
   .recharge-input-ph {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
    margin-left: -19%;
   }
   
   .recharge-input-ph:focus {
    outline: none;
   }
   
   .recharge-label-name {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .recharge-input-ph:focus ~ label, .recharge-input-ph:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
   }
   
   .recharge-pbar {
    position: relative;
    display: block;
    width: 200px;
   }
   
   .recharge-pbar:before, .recharge-pbar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .recharge-pbar:before {
    left: 50%;
   }
   
   .pbar:after {
    right: 50%;
   }
   
   .recharge-input-ph:focus ~ .recharge-pbar:before, .recharge-input-ph:focus ~ .recharge-pbar:after {
    width: 50%;
   }
   
   .recharge-highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
   }
   
   .recharge-input-ph:focus ~ .recharge-highlight {
    animation: inputHighlighter 0.3s ease;
   }
   
   @keyframes inputHighlighter {
    from {
     background: #5264AE;
    }
   
    to {
     width: 0;
     background: transparent;
    }
   }

   .recharge-jio-tag
   {
    position: absolute;
    font-family: inherit;
    color: #01004c;
    bottom: 68%;
    left: 32%;
    font-weight: bolder;
    font-size: xx-large;
   }
   .recharge-btn-jio:hover {
    color: #000000;
    
   }
   
   .recharge-btn-jio:after {
    content: "";
    background: rgb(255, 255, 255);
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   .recharge-btn-jio:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }

   .recharge-jio-tag-login{
    position: absolute;
    top: 33%;
    left: 22%;
    font-size: smaller;
    font-weight: lighter;
    color: #000000;
   }
  .rs-logo{
    position: absolute;
    background-image: url(https://cdn-icons-png.flaticon.com/128/2769/2769441.png);
    background-repeat: no-repeat;
    background-size: 59px;
    width: 100px;
    height: 100px;
    top: 20px;
    left: 225px;
  }
  .rfoot{
    position: absolute;
    top: 83%;
    background-color: #e3e3e3;
    width: 100%;
    height: 36%;
  }
  .jio-background{
    background-color: #0f3cc9;
    width: 65%;
    height: 45%;
    position: absolute;
    top: 147%;
    right: 15%;
    border-radius: 14px
  }
  .thin-line{
    position: absolute;
    width: 100%;
    height: 0.1%;
    background-color: #000000;
    top: 84%;
  }
  .social-media-link{
    background-image: url();
  }
  .connect{
    position: absolute;
    top: 23%;
    right: 78%;
    font-weight: bolder;
    font-size: 152%;

  }
  .twitter-link-image{
    background-image: url("https://cdn-icons-png.flaticon.com/128/733/733635.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 10%;
    height: 15%;
   background-size:45px ;
   top: 163px;
   left: 190px;
    cursor: pointer;
  }
  .insta-link-image{
    background-image: url(https://cdn-icons-png.flaticon.com/128/1384/1384031.png);
    background-repeat: no-repeat;
    background-size: 42px;
    position: absolute;
    width: 5%;
    height: 15%;
    top: 163px;
    left: 267px;
    cursor: pointer;
  }
  .fb-image{
    background-image: url(https://cdn-icons-png.flaticon.com/128/3128/3128208.png);
    background-repeat: no-repeat;
    background-size: 47px;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 160px;
    left: 18%;
    cursor: pointer;
  }
  .in-image{
    background-image: url(https://cdn-icons-png.flaticon.com/128/25/25325.png);
    background-repeat: no-repeat;
    background-size: 45px;
    position: absolute;
    width: 10%;
    height: 11%;
    top: 160px;
    left: 416px;
    cursor: pointer;
  }
  .app-myjio{
    position: absolute;
    top: 23%;
    font-weight: bolder;
    font-size: 152%;
    left: 635px;
  }
  .playstore{
    background-image: url(https://jep-asset.akamaized.net/jio/svg/android-ios-logo/G-Play.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    position: absolute;
    width: 255px;
    height: 63px;
    top: 165px;
    left: 574px;
    cursor: pointer;
  }
  .ios{
    background-image: url(https://jep-asset.akamaized.net/jio/svg/android-ios-logo/AppStore.svg);
    background-repeat: no-repeat;
    background-size: 62%;
    position: absolute;
    width: 255px;
    height: 63px;
    top: 165px;
    left: 770px;
    cursor: pointer;
  }
  .footer-jio-logo{
    background-image: url(https://1000logos.net/wp-content/uploads/2021/07/Jio-Logo.png);
    background-repeat: no-repeat;
    background-size: 122%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 87%;
    left: 7%;
  }
  .footer-text{
    position: absolute;
    width: 50%;
    height: 5%;
    position: absolute;
    width: 27%;
    height: -37%;
    top: 90%;
    left: 11%;
  }
  .f-txt-1{
    position: absolute;
    top: 90%;
    left: 61%;
  }
  .f-txt-2{
  position: absolute;
  top: 90%;
  left: 67%;
  }
  .f-txt-3{
    position: absolute;
    top: 90%;
    left: 72%;
  }
  .f-txt-4{
    position: absolute;
    top: 90%;
    left: 76%;
  }
  .support-txt{
    top: 47px;
    position: absolute;
    left: 1123px;
  }
  .lost{
    width: 4%;
    line-height: 25px;
    top: 106px;
    position: absolute;
    left: 1132px;
    font-weight: 400;
  }
  .our{
    position: absolute;
    left: 1316px;
    top: 47px;
  }
  .our-txt{
    width: 2px;
    position: absolute;
    left: 1321px;
    top: 102px;
    font-weight: 500;
  }
  .conv-logo{
    right: -157%;
    background-image: url("../Images/undraw_Conversation_re_c26v.png");
    background-repeat: no-repeat;
    background-size: 480px;
    position: absolute;
    width: 500px;
    height: 500px;
    top: -2%;
  }
  .form__group-no {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
  }
  
  .form__field-no {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #000000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    position: absolute;
    top: 172%;
    left: -2%;
  }
  
  .form__field-no::placeholder {
    color: transparent;
  }
  
  .form__field-no:placeholder-shown ~ .form__label-no {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label-no {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field-no:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-color: #01004c;
    border-image-slice: 1;
  }
  
  .form__field-no:focus ~ .form__label-no {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #01004c;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field-no:required, .form__field-no:invalid {
    box-shadow: none;
  }
  .form__group-name {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
  }
  
  .form__field-name {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #ffffff00;
    padding: 19px 0;
    background: transparent;
    transition: border-color 0.2s;
    
  }
  
  .form__field-name::placeholder {
    color: transparent;
  }
  
  .form__field-name:placeholder-shown ~ .form__label-name {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label-name {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field-name:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-color: #01004c;
    border-image-slice: 1;
  }
  
  .form__field-name:focus ~ .form__label-name {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #01004c;
    font-weight: 700;
  }
  
  .rch-btn-jio {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1; 
    background: #e8e8e8;
    /* position: relative; */
    font-weight: 1000;
    font-size: 17px;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    position: absolute;
    top: 179%;
    left: 5%;
   }
   
   .rch-btn-jio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #01004c;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .rch-btn-jio:hover {
    color: #e8e8e8;
   }
   
   .rch-btn-jio:hover::before {
    width: 100%;
   }