
.homepic{
  height: 12vh;
  width: 26vw;
  position: fixed;
    background-repeat: no-repeat;
    background-size: 230px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRm1tEB2M0wn8X19-Lg2LpDltAjgBzp1drOg&usqp=CAU");
}
.home-image{
  background-image: url("https://jep-asset.akamaized.net/cms/assets/airfiber/JioAirFiber-Homepage-Desktop1.webp");
  position: absolute;
  background-repeat: no-repeat;
  width: 100%;
  height: 64%;
  top: 12%;
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}
.topnav{
    background: rgb(1 0 76);
    height: 117px;
    background-size: 100px;
    margin-left: 226px;
    position: fixed;
    width: 89%;
}

.topnav label.logo{
    color: white;
    font-size: 70px;
    line-height: 80px;
    font-weight:100;
    margin-left: 23px;
}

.topnav ul{
    float: right;
    margin-right: 30px;
    
}
.topnav ul li{
    display: inline-block;
    line-height: 90px;
    margin: 0 10px;
}
.topnav ul li a{
    color:white;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: solid;
    
}
.active{
  position: fixed;
  top: 1%;
  left: 49%;
}

.topnav a.active,a:hover{
    background:rgb(255, 141, 141);
    transition: .5s;
}



.leftnav{
    position:absolute;
    background: rgb(1 0 76);
    width: 9%;
    height: 90%;
    bottom: 0;
}

.leftnav label.logo{
    color: white;
    font-size: 70px;
    line-height: 80px;
    font-weight:100;
}

.leftnav ul{
    float: left;
    margin-right: 30px;
    margin-top: 179px;
}
.leftnav ul li{
    display: inline-block;
    line-height: 90px;
    margin: 0 10px;
}
.leftnav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: solid;
}

.leftnav a.active,a:hover{
    background:rgba(255, 255, 255, 0);
    transition: .5s;
    text-decoration: underline;
}


@media (max-width: 952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    .topnav {
      flex-direction: column;
    }
  
    .topnav li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .leftnav {
      position: relative;
      padding: 10px;
    }
  }

  
  .sbar {
    width: 20%;
    max-width: 220px;
    height: 35px;
    padding: 1px;
    border-radius: 10px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    border-color: black;
    margin-top: 35px;
    margin-left: 1292px;
    background-color: #2f2f71;
  }
  
  .sbar:hover {
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 20px -17px;
  }
  
  .sbar:active {
    transform: scale(0.95);
  }
  
  .sbar:focus {
    border: 2px solid grey;
  }


  .nav-bar-name{
    position:fixed;
    display: flex;
    justify-content: center;
    width: 27%;
    left: 12%;
    top: 2%;
    font-weight:lighter;
    font-family:'Gill Sans MT', sans-serif;
    font-size: small;
    color: rgb(65, 120, 169);
  }


  .card {
    width: 25%;
    height: 50%;
    position: absolute;
    right: 17%;
    bottom: 29%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
   
   .shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1)
    , 0 0 0 2px rgb(241 241 241),
     0.3em 0.3em 1em rgba(0,0,0,0.3)
   }
   
   
   .group {
    position: absolute;
    bottom: 43%;
    right: 24%;
   }
   
   .input-ph {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
   }
   
   .input-ph:focus {
    outline: none;
   }
   
   .label-name {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .input-ph:focus ~ label, .input-ph:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
   }
   
   .pbar {
    position: relative;
    display: block;
    width: 200px;
   }
   
   .pbar:before, .pbar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .pbar:before {
    left: 50%;
   }
   
   .pbar:after {
    right: 50%;
   }
   
   .input-ph:focus ~ .pbar:before, .input-ph:focus ~ .pbar:after {
    width: 50%;
   }
   
   .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
   }
   
   .input-ph:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
   }
   
   @keyframes inputHighlighter {
    from {
     background: #5264AE;
    }
   
    to {
     width: 0;
     background: transparent;
    }
   }

   .jio-tag
   {
    position: absolute;
    font-family: inherit;
    color: #01004c;
    bottom: 75%;
    left: 22%;
    font-weight: bolder;
    font-size: xx-large;
   }
   .btn-jio {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: #01004c;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    position: absolute;
    top: 253%;
    left: 18%;
   }
   
   .btn-jio:hover {
    color: #000000;
    
   }
   
   .btn-jio:after {
    content: "";
    background: rgb(255, 255, 255);
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   .btn-jio:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }

   .jio-tag-login{
    position: absolute;
    top: 24%;
    left: 22%;
    font-size: smaller;
    font-weight: lighter;
    color: #2f2f71;
   }
   .home-text{
    position: absolute;
    top: 40%;
    right: 59%;
    font-size: xx-large;
    color: white;
    text-transform: uppercase;
   }
   .jio-ture-image{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Jio_True_5G_Logo.svg/1280px-Jio_True_5G_Logo.svg.png);
    position: absolute;
    width: 40%;
    height: 9%;
    background-repeat: no-repeat;
    background-size: 16%;
    top: 48%;
    right: 41%;
}
   .jio-now{
    background-image: url(https://jep-asset.akamaized.net/cms/assets/home/true5g-desk.webp);
    position: absolute;
    width: 69%;
    height: 39%;
    background-repeat: no-repeat;
    top: 97%;
    right: 14%;
    background-size: 100%;
    border-radius: 26px;
   }
   .jio-now-text{
    position: absolute;
    top: 163%;
    right: 36%;
    font-size: xx-large;
    color: white;
   }
   .jio-bills-image{
    background-image: url("https://www.jio.com/55_mobile.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 42%;
    height: 57%;
    top: 147%;
    background-size: 67%;
    right: 0%;
   }
   .jio-bills-text{
    position: absolute;
    color: #ffffff;
    top: 229%;
    right: 41%;
    font-size: xx-large;
    -webkit-text-stroke-width: thin;
    text-transform: uppercase;

   }
   .jio-recharge-btn {
     background-color: #274fcf;
     color: #ffffff;
     width: 8.5em;
     height: 2.9em;
     border: f 0.2em solid;
     border-radius: 11px;
     text-align: right;
     transition: all 0.6s ease;
     position: absolute;
     top: 242%;
     right: 69%
    }
    
    .jio-recharge-btn:hover {
    background-color: #01004c;
    cursor: pointer;
    color: white;
  }
  
  .jio-recharge-btn svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .jio-recharge-btn:hover svg {
    transform: translateX(5px);
  }
  
  .text {
    
    font-weight: bolder;
    font-size: larger;
    position: absolute;
    top: 20%;
    right: 17%;
  }
  .jio-indian-text{
    position: absolute;
    top: 288%;
    right: 23%;
    font-size: 62px;
    font-family: Verdana;
  }
  .ture-text{
    position: absolute;
    top: 325%;
    right: 77%;
  }
  .plans-text{
    position: absolute;
    top: 325%;
    right:57%;
  }
  .pan-text{
    position: absolute;
    top: 325%;
    right: 33%;
  }
  .apps-text{
    position: absolute;
    top: 325%;
    right: 15%;
  }
  .ture-image{
    background-image: url("https://jep-asset.akamaized.net/jio/svg/true-5-g-18-02-2023-v2.svg");
    position: absolute;
    width: 100px;
    height: 100px;
    top: 214%;
    background-repeat: no-repeat;
    background-size: 80%;
    right: 75%;
  }
  .plans-image{
    background-image: url(https://jep-asset.akamaized.net/jio/svg/plans-logo.svg);
    position: absolute;
    width: 100px;
    height: 100px;
    top: 213%;
    background-repeat: no-repeat;
    background-size: 53%;
    right: 56%;
    
  }
  .pan-image{
    background-image: url("https://jep-asset.akamaized.net/jio/svg/india-12-04-2023-v1.svg");
    position: absolute;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    top: 213%;
    right: 33%;
    background-size: 59%;
  }
  .apps-image{
    background-image: url("https://jep-asset.akamaized.net/jio/svg/jio-logo-12-04-2023.svg");
    position: absolute;
    background-repeat: no-repeat;
    top: 213%;
    right: 13%;
    width: 100px;
    height: 100px;
  }
  .foot{
    position: absolute;
    top: 230%;
    background-color: #e3e3e3;
    width: 100%;
    height: 36%;
  }
  .jio-background{
    background-color: #0f3cc9;
    width: 65%;
    height: 45%;
    position: absolute;
    top: 147%;
    right: 15%;
    border-radius: 14px
  }
  .thin-line{
    position: absolute;
    width: 100%;
    height: 0.1%;
    background-color: #000000;
    top: 84%;
  }
  .social-media-link{
    background-image: url();
  }
  .connect{
    position: absolute;
    top: 23%;
    right: 78%;
    font-weight: bolder;
    font-size: 152%;

  }
  .twitter-link-image{
    background-image: url("https://cdn-icons-png.flaticon.com/128/733/733635.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 10%;
    height: 15%;
   background-size:45px ;
   top: 163px;
   left: 190px;
    cursor: pointer;
  }
  .insta-link-image{
    background-image: url(https://cdn-icons-png.flaticon.com/128/1384/1384031.png);
    background-repeat: no-repeat;
    background-size: 42px;
    position: absolute;
    width: 5%;
    height: 15%;
    top: 163px;
    left: 267px;
    cursor: pointer;
  }
  .fb-image{
    background-image: url(https://cdn-icons-png.flaticon.com/128/3128/3128208.png);
    background-repeat: no-repeat;
    background-size: 47px;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 160px;
    left: 18%;
    cursor: pointer;
  }
  .in-image{
    background-image: url(https://cdn-icons-png.flaticon.com/128/25/25325.png);
    background-repeat: no-repeat;
    background-size: 45px;
    position: absolute;
    width: 10%;
    height: 11%;
    top: 160px;
    left: 416px;
    cursor: pointer;
  }
  .app-myjio{
    position: absolute;
    top: 23%;
    font-weight: bolder;
    font-size: 152%;
    left: 635px;
  }
  .playstore{
    background-image: url(https://jep-asset.akamaized.net/jio/svg/android-ios-logo/G-Play.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    position: absolute;
    width: 255px;
    height: 63px;
    top: 165px;
    left: 574px;
    cursor: pointer;
  }
  .ios{
    background-image: url(https://jep-asset.akamaized.net/jio/svg/android-ios-logo/AppStore.svg);
    background-repeat: no-repeat;
    background-size: 62%;
    position: absolute;
    width: 255px;
    height: 63px;
    top: 165px;
    left: 770px;
    cursor: pointer;
  }
  .footer-jio-logo{
    background-image: url(https://1000logos.net/wp-content/uploads/2021/07/Jio-Logo.png);
    background-repeat: no-repeat;
    background-size: 122%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 87%;
    left: 7%;
  }
  .footer-text{
    position: absolute;
    width: 50%;
    height: 5%;
    position: absolute;
    width: 27%;
    height: -37%;
    top: 90%;
    left: 11%;
  }
  .f-txt-1{
    position: absolute;
    top: 90%;
    left: 61%;
  }
  .f-txt-2{
  position: absolute;
  top: 90%;
  left: 67%;
  }
  .f-txt-3{
    position: absolute;
    top: 90%;
    left: 72%;
  }
  .f-txt-4{
    position: absolute;
    top: 90%;
    left: 76%;
  }
  .support-txt{
    top: 47px;
    position: absolute;
    left: 1123px;
  }
  .lost{
    width: 4%;
    line-height: 25px;
    top: 106px;
    position: absolute;
    left: 1132px;
    font-weight: 400;
  }
  .our{
    position: absolute;
    left: 1316px;
    top: 47px;
  }
  .our-txt{
    width: 2px;
    position: absolute;
    left: 1321px;
    top: 102px;
    font-weight: 500;
  }